.logo-container{
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
    background: rgb(250, 250, 250);

    .closeIcon{
        cursor: pointer;
        margin-top: 5px;
    }
    
    // img{
    //     margin-left: 10px;
    // }

    // .app-name{
    //     float: right;
    //     margin-left: 10px;
    // }
}