.logo-container{
    display: flex;
    align-items: center;
    padding: 10px 0px;
    background: rgb(250, 250, 250);
    
    img{
        margin-left: 10px;
    }

    .app-name{
        float: right;
        margin-left: 10px;
    }
}