.table-cntr{
    margin-top: 30px;
}

.revision-mode-header.MuiTypography-root.MuiTypography-h5.MuiTypography-gutterBottom{
    margin-top: 30px;
}

.MuiFormControl-root.revision-switch{
    margin-bottom: 10px;
}