.account-details{
    display: flex;
    align-items: center;

    .user-name{
        margin-right: 10px;
    }

    .logout{
        margin-top: 5px;
        margin-left: 10px;
        cursor: pointer;
    }
}